#job {

  .details {
    border-collapse: separate;
    border-spacing: 5px;
    padding-bottom: 10px;
    text-align: left;

    td {
      padding: 0 20px;
		}

    th {
      padding-left: 10px;
		}
	}
}
