<table class="table" ng-show="jobs.length > 0">
	<thead>
		<tr>
			<th width="60">Status</th>
			<th>Job</th>
			<th>Revision</th>
			<th>Author</th>
			<th>Log</th>
			<th>Duration</th>
			<th>Finished</th>
		</tr>
	</thead>

	<tbody >
		<tr ng-repeat="job in jobs() | filter:only('RUNNING') | orderBy:'started':true" class="{{job.status | lowercase}}">
			<td>
				<span bzk-job-status="job.status"></span>
			</td>
			<td><a ng-href="#/p/{{job.project_id | bzkExcerpt}}/{{job | bzkId}}">{{projectName(job.project_id)}}/{{job.number}}</a></td>
			<td>
			<span ng-if="job.scm_metadata.reference">{{job.scm_metadata.commit_id | bzkExcerpt}} ({{job.scm_metadata.reference}})</span>
			</td>
			<td>{{job.scm_metadata.author.name}}</td>
			<td>{{job.scm_metadata.message}}</td>
			<td>{{job | bzkDuration}}</td>
			<td>-</td>
		</tr>
	</tbody>

	<tbody >
		<tr ng-repeat="job in jobs() | filter:not('RUNNING') | orderBy:'completed':true" class="{{job.status | lowercase}}">
			<td>
				<span bzk-job-status="job.status"></span>
			</td>
			<td><a ng-href="#/p/{{job.project_id | bzkExcerpt}}/{{job | bzkId}}">{{projectName(job.project_id)}}/{{job.number}}</a></td>
			<td>
			<span ng-if="job.scm_metadata.reference">{{job.scm_metadata.commit_id | bzkExcerpt}} ({{job.scm_metadata.reference}})</span>
			</td>
			<td>{{job.scm_metadata.author.name}}</td>
			<td>{{job.scm_metadata.message}}</td>
			<td>{{job | bzkDuration}}</td>
			<td>{{job | bzkFinished}}</td>
		</tr>
	</tbody>
</table>

<div class="emptyjobs" ng-show="jobs.length == 0">
	Bazooka does not know of any jobs right now. Start your first jobs to see them appear on this page
</div>
