.logs {
  background: $logs-bg;
  border-radius: 8px;
  color: $logs-fg;
  margin: 10px;
  padding-bottom: 5px;
  padding-top: 5px;

  pre {
    font-family: monospace;
    font-size: 12px;
    line-height: 19px;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;

    p {
      margin: 0;
      padding: 0 10px 0 55px;
      position: relative;

      span {
        color: $logs-line;
        font-weight: bold;
        left: 0;
        padding-right: 10px;
        position: absolute;
        text-align: right;
        width: 45px;
      }
    }

    p:hover {
      background: lighten($logs-bg, 8%);
    }
  }
}
