#job {
    .artifacts {
        background: #f2f2f2;
        margin: 0;
        padding: 0;
        overflow: auto;
        list-style-type: none;

        li {
            display: inline-block;
            line-height: 24px;
            margin: 5px 30px 5px 10px;

            a {
                font-weight: bold;
                display: block;
            }
        }
    }
}