<div id="job">
	<bzk-breadcrumbs project="project" job="job"></bzk-breadcrumbs>
	<bzk-job-info job="job"></bzk-job-info>
	<table class="table" ng-if="variants.length > 0">
		<thead>
			<tr>
				<th width="60">Status</th>
				<th>Variant</th>
				<th>Duration</th>
				<th>Finished</th>
				<th ng-repeat="m in metaList" class="meta">{{m.label}}</th>
			</tr>
		</thead>

		<tbody ng-repeat="variant in variants | orderBy:'number'">
			<tr ng-show="variant" class="{{variant.status | lowercase}}">
				<td>
					<span bzk-job-status="variant.status"></span>
				</td>
				<td><a ng-href="#/p/{{project | bzkId}}/{{job | bzkId}}/{{variant | bzkId}}">{{job.number}}.{{variant.number}}</a></td>
				<td>{{variant | bzkDuration}}</td>
				<td>{{variant | bzkFinished}}</td>
				<td ng-repeat="m in metaList" class="meta" ng-style="{'color': metaColor(variant.metaMap[m.name])}">{{variant.metaMap[m.name].value}}</td>
			</tr>
		</tbody>
	</table>

	<div ng-controller="JobLogsController">
		<div class="logs" bzk-log="logger.job"></div>
	</div>
</div>
