.breadcrumb {
  border-bottom: 1px solid $breadcrumb-color-border;
  color: $breadcrumb-color;
  margin-bottom: 10px;
  padding: 10px;
  background: $breadcrumb-bg;

  .home {
    opacity: .4;
    width: 14px;
  }

  a {
    color: $breadcrumb-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    padding: 0 8px;
  }

  a:hover {
    color: $breadcrumb-color-link;
  }
}
