// $header-bg : #f1c40f;

// $projects-bg: #2c3e50;

// $builds-bg: #34495e;

$header-bg : #f1c40f;

$projects-bg: #40c4ff;
$projects-fg: #fff;

$projects-new-bg: #00e676;
$projects-new-fg: #333;

$jobs-bg: #616161;
$jobs-fg: #333;

$jobs-start-bg: #9e9e9e;
$jobs-start-fg: #fff;

$job-bg: #212121;
$job-fg: #ddd;

$logs-bg: #222;
$logs-fg: #eee;

$success-color: #00E676;
$partial-color: #FFEB3B;
$failure-color: #F44336;
$running-color: #666;