// Global
$font-global: #3a3b3f;

// Projects Sidebar
$project-error: #808080;
$project-success: #27da93;
$project-fail: #df2d4f;

$sidebar-nav: #fff;
$sidebar-bg: #3a3b3f;
$sidebar-hover: #303135;
$sidebar-scm: #ccc;

// Breadcrumb
$breadcrumb-color: #898989;
$breadcrumb-color-border: #e2e2e2;
$breadcrumb-color-link: #0096c8;
$breadcrumb-bg: none;

// Tables
$success-row-hover: darken(#dcffdc, 5%);
$success-row: darken(#fafffa, 5%);
$failed-row-hover: darken(#ffdcdc, 5%);
$failed-row: darken(#fffafa, 5%);
$errored-row: darken(#fdfdfd, 5%);
$errored-row-hover: darken(#f2f2eb, 5%);
$running-row: darken(#FFAB00, 5%);
$running-row-hover: darken(#FFAB00, 5%);

$success-bg: #292;
$failed-bg: #c13737;
$errored-bg: #808080;
$running-bg: #FFAB00;

$table-thead-bg: #f0f2f3;
$table-thead-color: #9599a3;

// Logs
$logs-bg: $sidebar-bg;
$logs-fg: #fff;
$logs-line: #9599a3;

$low-importance: #808080;
