.logs {
  pre {
    font-family: monospace;
    font-size: 12px;
    line-height: 19px;
    background: $logs-bg;
    color: $logs-fg;
    margin: 10px 8px;
    padding: 5px 0;

    white-space: pre-wrap;
    word-wrap: break-word;

    p {
      margin: 0;
      padding: 0 10px 0 55px;
      position: relative;

      span {
        color: $logs-line;
        font-weight: bold;
        left: 0;
        padding-right: 10px;
        position: absolute;
        text-align: right;
        width: 45px;
      }
    }

    p:hover {
      background: lighten($logs-bg, 8%);
    }
  }
}
