$header-height: 0px;
$vsep : 0px;

$projects-width: 200px;

$build-state-size: 12px;

$jobs-width: 300px;

$jobs-item-height: 40px;

$job-width: 940px;
$job-log-width: 1000px;

$projects-wide-width: $projects-width + $jobs-width;