.table {
  font-size: 14px;
  width: 100%;

  thead {
    background: $table-thead-bg;
    color: $table-thead-color;
  }

  img {
    padding-right: 5px;
  }

  tbody {
    tr {
      &.success td {
        background-color: $success-row;
      }

      &.success:hover td {
        background: $success-row-hover;
      }

      &.failed td {
        background: $failed-row;
      }

      &.failed:hover td {
        background: $failed-row-hover;
      }

      &.errored td {
        background: $errored-row;
      }

      &.errored:hover td {
        background: $errored-row-hover;
      }

    }
  }

  td, th {
    padding: .5em;
  }

  td {
    border-bottom: 2px solid #fff;
  }

  td .success,
  td .failed,
  td .errored {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
  }

  td .success {
    color: $success-bg;
  }

  td .failed {
    color: $failed-bg;
  }

  td .errored {
    color: $errored-bg;
  }


}
