
.nothing {
	left: $projects-width;
	right: 0;
	background: #c0c0c0;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -305px;
		margin-left: -305px;
	}

	h1 {
		position: absolute;
		margin: 0;
		padding: 0;
		text-align: center;
		top: 50%;
		left: 0;
		right: 0;
		line-height: 30px;

		color: #fff;
		font-weight: bold;
		font-size: 72px;
		text-shadow: #333 4px 4px 4px;
	}

	h1:after {
		content: "*";
		color: #f1c40f;
	}

	p {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin-top: 50px;
		font-style: italic;
		text-align: center;
		color: #ecf0f1;
		text-shadow: #333 2px 2px 4px;
	}

	p:before {
		content: "*";
		color: #f1c40f;
		margin-right: 10px;
	}
}