@import 'theme/sizing';
@import 'theme/colors';
@import 'theme/breadcrumb';
@import 'project/project';
@import 'projects/projects';
@import 'job/job';
@import 'variant/variant';
@import 'theme/tables';
@import 'theme/logs';

* {
  box-sizing: border-box;
}

body {
  color: $font-global;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}

a {
  color: rgb(61, 146, 201);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

.pure-img-responsive {
  height: auto;
  max-width: 100%;
}

#layout {
  padding: 0;
}

.header {
  margin: 3em auto;
  text-align: center;
  top: auto;
}

.sidebar {
  background: $sidebar-bg;
  color: #fff;
  padding: 0;
}

.content {
  padding: 0;
}

.brand-title {
  text-transform: uppercase;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-tagline {
  color: $sidebar-nav;
  font-size: 1.4em;
  font-weight: 300;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding-bottom: 1em;
}

#home {
  border-bottom: 1px dashed #e2e2e2;
}

#view {
  padding-top: 2em;
}

.projects {
  text-align: left;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    a {
      display: block;
      padding-bottom: .3em;
      padding-left: .5em;
      padding-right: .5em;
      padding-top: .3em;
      position: relative;
      // border-bottom: 1px solid darken($sidebar-bg, 10%);
      border-top: 1px solid darken($sidebar-bg, 5%);

      h2 {
        margin: 0;
        padding: 0;
      }
    }
    a:hover {
      text-decoration: none;
    }

    .success {
      color: $project-success;
    }

    .error {
      color: $project-error;
    }

    .last-job {
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      text-align: center;
    }



    p {
      margin: .4em 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .scm {
      color: $sidebar-scm;
    }
  }

  li:hover {
    background-color: $sidebar-hover;
  }

  li.selected {
    a {
      background: lighten($sidebar-bg, 10%);
    }
  }
}


.nav-item {

  display: inline-block;
  zoom: 1;

  a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    font-size: 85%;
    letter-spacing: .05em;
    margin-top: 1em;
    text-transform: uppercase;
  }

  a:hover,
  a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
  }
}

.content-subhead {
  border-bottom: 1px solid #eee;
  color: #aaa;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: .1em;
  padding: .4em 0;
  text-transform: uppercase;
}

.emptyjobs {
  padding: 10px;
  font-size: 20px;
}

@media (min-width: 48em) {
  .content {
    margin-left: 25%;
  }

  .header {
    margin: 2em 2em 0;
    text-align: right;
  }

  .sidebar {
    bottom: 0;
    position: fixed;
    top: 0;
  }
}
